@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <h4 style="text-align: center">Thông tin bảo hành</h4>
            <div class="form-group">
                <label class="col-sm-4">Tên khách hàng</label>
                <div class="col-sm-5">
                    @ViewBag.Order.Customer.CustomerName
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Địa chỉ</label>
                <div class="col-sm-5">
                    @ViewBag.Order.Customer.Address
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Điện thoại</label>
                <div class="col-sm-5">
                    @ViewBag.Order.Customer.Phone
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Ngày mua</label>
                <div class="col-sm-5">
                    @ViewBag.Order.OrderDate
                </div>
            </div>
            <table class="table table-hover table-bordered">
                <thead>
                    <th class="span2">Sản phẩm</th>
                    <th>Số Serial</th>
                    <th>Thời gian bảo hành</th>
                    <th>Kiểu bảo hành</th>
                </thead>
                <tbody>
                    @foreach (var od in ViewBag.OrderDetails)
                    {
                        var message = "";
                        <tr>
                            <td>@od.Production.Name</td>
                            <td>@od.Serial</td>
                            <td>@od.Production.WarrantyTime năm</td>
                            <td>
                                @if (od.Production.WarrantyType == "new")
                                {
                                    message = "Đổi mới";
                                }
                                else
                                {
                                    message = "Sửa chữa";
                                }
                                @message
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
